body {
    background-color: #CCFFCC;
}
div.header {

    position: fixed;
    top: 0px;
    left: 15px;
    right: 15px;
    
    background-color: #00AA00;
    border: 5px solid black;
    padding: 2px 5px 2px 5px;
}
div.contents {
    margin-top: 15ex;
}
h2 a {
    margin-top: -10ex;
    padding-top: 10ex;
}
div.jumpmenu {
    position: fixed;
    top: 15ex;
    width: 8em;
    background-color:  #CCFF66;
    border: 1px solid black;
}
div.mysights {
    margin-left: 10em;
}
div.mysights:after{
    clear: both;
}
@media screen and (max-width: 640px){
    div.jumpmenu {
        position: static;
        width: auto;
    }
    div.mysights {
        margin-left: auto;
    }
    div.jumpmenu ol {
        margin: 0px;
        padding: 0px;
    }
    div.jumpmenu li {
        display: inline-block;
        text-align: center;
        padding: 1ex;
        min-width: 4em;
        max-width: 8em;
    }
}

div.mysights ul {
    list-style: none;
    border: 3px solid black;
    background-color: white;
    padding: 5px 5px 5px 5px;
    max-width:90%;
}
li img {
    float: left;
    max-width: 200px;
    max-height: 150px;
}
li img:after {
    clear: both;
}
li table {
    margin-left: 200px;
    min-height: 150px;
    width:calc(100% - 200px);

}
li table:after {
    clear: both;
}
table th{
    background-color:  #CCFFFF;
    width:110px;
    min-width:100px;
}
table td{
    background-color: white;
}
@media screen and (max-width: 640px) {
    div.contents {
        margin-top: 18ex;
    }
    li img {
        float: none;
    }
    li table {
        margin-left: auto;
        width: auto;
    }
}

div.hidden {
    display:none;
}
div.show {
    animation: slideIn 1s ease 0s 1 normal;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(64px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#mode {
    display: none;
}
#toggle {
    position: fixed;
    top: 0px;
    z-index: 9;
    font-size: 150%;
    color: gray;
    width: 1em;
    height: 1em;
    padding: .5ex;
    background-color: white;
    opacity: .7;
    text-align: center;
    vertical-align: middle;
    display: none;
}
@media screen and (max-height:300px){
    #headmenu {
        display: none;
    }
    #headmenu.open{
        display: block;
    }
    #toggle {
        display: block;
    }
}